{% extends 'ticketSales/layout.html' %}
{% block title %}لیست کنسرت ها{% endblock title %}
{% block mainContent %}
{% if concertlist %}   
   <form action='' method='GET'>
      {{ searchForm }}
      <button type='submit' class='btn btn-success'>جستجو</button>
   </form>
   {% for concert in concertlist  %}
      <div class='col-md-2'>
         <a href='/ticketSales/concert/{{concert.id}}'>   
            <div class='imageBox'> 
               <img src='{{concert.Poster.url}}'>              
               {{concert}}
            </div>
         </a>
      </div>
   {% endfor %}
{% endif %}
{% endblock mainContent %}